app/etc/local.xml
downloader/.cache
downloader/cache.cfg
downloader/connect.cfg
var/cache
var/session
var/locks
var/package
var/importexport
var/log
var/report
media/catalog/product/cache
media/js/*
media/css/*.css
errors/local.xml
app/etc/local.xml
.idea